.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;

  &_blue {
    padding: 13px 26px 10px;
    background: linear-gradient(0deg, #0d97a7 0%, #00c8e0 100%);
    color: #fff;
    border-radius: 5px;
    border-bottom: 3px solid var(--border-blue);

    &:active {
      background: linear-gradient(0deg, #098797 0%, #06b9ce 100%);
      border-bottom: 1px solid var(--border-blue);
      border-top: 2px solid var(--border-blue);
    }
  }
}
