.about {
  display: block;
  margin: 60px 0 94px;
  text-align: center;
  color: var(--grey);
}

.about__title {
  font-size: 18px;
  color: var(--blue);
  margin-bottom: 20px;
}

.about__info {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.75;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__button {
  margin-top: 60px;
}
