include /blocks/button/button
include /blocks/anchor/anchor

mixin about()
  +b.about
    +e('h2').title
      | Привет! Меня зовут Ксения!
    +e('p').info
      | Я творческий и увлеченный человек, находящийся в постоянном поиске новых целей. Инструменты, с которыми я работаю: Adobe Photoshop, Adobe Illustator, Adobe XD, Adobe Animate, Axure, Art Rage. 
    +e('p').info
      | Регулярно совершенствую свои навыки и обновляю свои знания. Слежу за трендами в сфере
      br
      | веб-дизайна и графики. Знаю основы HTML5 и CSS3, умею верстать.  Рисую от руки, а так же векторные иллюстрации. Увлекаюсь фотографией. Неравнодушна к типографике и каллиграфии.
    +e('p').info
      | Повышаю квалификацию в онлайн университетах "Нетология" и "HTML-Academy". Для более подробного ознакомления со мной, можно скачать мое резюме ниже.
    +e.button
      +anchor('resume')
        +button('/static/Ivashkina-designer-resume.pdf', 'blue')
          | Скачать резюме
