include /blocks/link/link

mixin footer()
  +b('footer').footer
    +e.link
      +link('mailto:xenialow112@mail.ru')
        | xenialow112@mail.ru
    +e.link
      +link('tel:+79202645505')
        | + 7 (920) 264-55-05
